<section>
  
    <div class="container">
      <div class="row">
        <% allGames.forEach(allGame => { %>
        <div class="game col-sm"><%= allGame .title %></div>
        <div class="points col-sm"><%= allGame .genre %></div>
      </div>
      <div class="row">
        <div class="player_date col-sm">
          <%= allGame .description %>,<%= gameInfo.release_year %>
        </div>
        <% }) %>
  <% users.forEach(user => { %>
    <div class="container">
      <div class="row">
        <div class="game col-sm"><%= user.game %></div>
        <div class="points col-sm"><%= user.player %></div>
      </div>
      <div class="row">
        <div class="player_date col-sm">
          <%= user.points %>,<%= user.score_date %>
        </div>
  <% }) %>
</section>