<section class=" list-group mb-4">
  <h2 class="text-center mb-4">Highscore</h2>

  <% games.forEach(game => { %>
    <a href="/games/<%= game.url_slug %>">
    <ol class="list-group list-group-flush list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%=game.game_name%></div>
          <%=game.player%>, <%=game.date.toLocaleDateString()%>
        </div>
        <span class="badge bg-primary rounded-pill"><%=game.score%></span>
      </li>
    </ol>
  </a>
 <% }) %>
</section>